---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Larutan Blog">
    
	<main>
        

        <section class="blog-larutan">
            <h2>Larutan-Blog</h2>

           

        </section>

    </main>
</Layout>

<style>
	.blog-larutan{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blog-larutan h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
   
</style>