---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');

---

<Layout title="Larutan Blog">
    
	<main>
        

        <section class="blog-larutan">
            <h2>Larutan-Blog</h2>
            <ul>
                {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
            </ul>
           

        </section>

    </main>
</Layout>

<style>
	.blog-larutan{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blog-larutan h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
   
</style>