---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Larutan Blog">
	<main>
        <ul class="navigation">
            <li class="navigation-link"><a href="/">Home</a> </li>
            <li class="navigation-link"> <a href="/about">About</a></li>
			<li class="navigation-link"> <a href="/blog/">Blog</a></li>
            <li class="navigation-link"> <a href="/articles">Articles</a></li>
            <li class="navigation-link"> <a href="/contact">Contact Us</a></li>

        </ul>

        <section class="blog-larutan">
            <h2>Larutan-Blog</h2>

        </section>

    </main>
</Layout>

<style>
	.blog-larutan{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blog-larutan h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
    .navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .navigation-link{
        margin: 0 1rem;
    }
    .navigation-link a{
        text-decoration: none;
        color: white;
    }
</style>