---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Larutan Blog">
    <Nav />
	<main>
        

        <section class="contact-larutan">
            <h2>Larutan-contact</h2>

        </section>

    </main>
</Layout>

<style>
	.contact-larutan{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-larutan h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
    .navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .navigation-link{
        margin: 0 1rem;
    }
    .navigation-link a{
        text-decoration: none;
        color: white;
    }
</style>