---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Larutan Blog">
	
	<main>
        

        <div class="home-larutan">
            <h2>Larutan-Home</h2>

		</div>

    </main>
	
	
	
	
	
  
	
</Layout>

<style>
	.home-larutan{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-larutan h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
    }
    
  
</style>

