---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// 	img: string;
	
// }

// const { href, title, body, img } = Astro.props;
---
<div class="cards">
	<div class="card">
		<div class="card__image">
			<img src="../img/BlogImage7.png" alt="image" />
		</div>
		<div class="card__content">
			<h3 class="card__title">things to know before visiting </h3>
			<p class="card__body">Progressively incentivize cooperative systems through
				technically sound functionalities. Credibly productivate
				seamless data with flexible schemas.</p>
			<a href="" class="card__link">Read More</a>
		</div>
	</div>
	<div class="card">
		<div class="card__image">
			<img src="../img/BlogImage6.png" alt="image" />
		</div>
		<div class="card__content">
			<h3 class="card__title">things to know before visiting </h3>
			<p class="card__body">Progressively incentivize cooperative systems through
				technically sound functionalities. Credibly productivate
				seamless data with flexible schemas.</p>
			<a href="" class="card__link">Read More</a>
		</div>
	</div>
	<div class="card">
		<div class="card__image">
			<img src="../img/BlogImage9.png" alt="image" />
		</div>
		<div class="card__content">
			<h3 class="card__title">things to know before visiting </h3>
			<p class="card__body">Progressively incentivize cooperative systems through
				technically sound functionalities. Credibly productivate
				seamless data with flexible schemas.</p>
			<a href="" class="card__link">Read More</a>
		</div>
	</div>
	<div class="card">
		<div class="card__image">
			<img src="../img/BlogImage8.png" alt="image" />
		</div>
		<div class="card__content">
			<h3 class="card__title">things to know before visiting </h3>
			<p class="card__body">Progressively incentivize cooperative systems through
				technically sound functionalities. Credibly productivate
				seamless data with flexible schemas.</p>
			<a href="" class="card__link">Read More</a>
		</div>
	</div>
</div>

	

<style>
	*{
		margin: 0;
		padding: 0;
	}
	.cards{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		
		/* width: 250px; */
		gap: 1rem;

		padding: 1rem;
	}
	.card{
		background-color: aliceblue;
	}
	.card__image{
		width: 100%;
		height: 100%;
	}
	.card__image img{
		width: 100%;
		
	}
	.card__content h3, p{
		color: black;
	}
	@media screen and (min-width: 636px){
		.cards{
			grid-template-columns: repeat(4, 1fr);
		}
		
	}
</style>
