---
import "../styles/global.css"

const platform = "github"
const username = "withastro"
---

<footer >
    <p> For more information please visit <a href={`https://wwww.${platform}.com/${username}`}>{platform}</a></p>
</footer>

