---
import '../styles/global.css';
---

<nav>
    <div class="navigation-link">
        <a href="/">Home</a> 
        <a href="/about">About</a>
        <a href="/blog/">Blog</a>
        <a href="/tags/">Tags</a>
        <a href="/articles">Articles</a>
        <a href="/contact">Contact Us</a>

    </div>
</nav>
<style>
    Nav{
        width: 100vw;
        position: fixed;
        z-index: 1000;
        
        background-color: rgba(0,0,0,0.10);
        
        
    }
    @media screen and (min-width: 636px){
        nav{
            min-width: 100vw;
            position: fixed;
            top: 0;
            z-index: 100;
            
        }
    }
</style>