---
import '../styles/global.css';
---

<nav>
    <ul class="navigation">
        <li class="navigation-link"><a href="/">Home</a> </li>
        <li class="navigation-link"> <a href="/about">About</a></li>
        <li class="navigation-link"> <a href="/blog/">Blog</a></li>
        <li class="navigation-link"> <a href="/articles">Articles</a></li>
        <li class="navigation-link"> <a href="/contact">Contact Us</a></li>

    </ul>
</nav>
<style>
    Nav{
        background-color: transparent;
        border: .5px solid #fff;
    }
</style>